<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiddenlayer.dalabel.data.DataMapper">
	<insert id="insertData"
		parameterType="com.hiddenlayer.dalabel.manageLabeling.Data">
		<![CDATA[
		insert into data values(#{data_name}, #{data_where}, 1)
	]]>
	</insert>


	<select id="getData"
		parameterType="com.hiddenlayer.dalabel.manageLabeling.Data"
		resultType="java.lang.String">
		<![CDATA[
		select data_name from data 
		where data_where = #{data_where} and data_name 
		like #{data_name}||'.%'
	]]>
	</select>

	<update id="deleteData" parameterType="java.lang.String">
		<![CDATA[
		update data set data_activation = 0
		where data_name = #{data_name}
	]]>
	</update>
</mapper>